.about {
  margin-top: 221px;
  height: 573px;
}

.about__background {
  position: absolute;
  mix-blend-mode: luminosity;
  box-shadow: inset 0px -110px 80px #17191C;
}



.container__about {
  position: relative;
}

.about__img {
  float: left;
}

.about__content {
  position: absolute;
  top: 118px;
  right: 0;
  width: 785px;
  height: 455px;
  border-radius: 5px;
  background: url(../../img/Rectangle\ 10.png);
  padding: 70px 81px 164px;
}

.about__description {
  margin-top: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  max-width: 502px;
}

.button {
  width: 168px;
  padding: 18px 40px;

  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.button--transparent {
  margin-top: 43px;
  border: 1px solid #FFFFFF;
} 