.footer {
  /* height: 152px; */
  position: relative;
  /* padding-top: 53px; */
  margin: 53px;
  border-top-style: groove;
  border-width: 4px;
  border-color: rgba(255, 255, 255, .1);
}


.socials {
  top: 30px;
  right: 250px;
  position: absolute;
  display: inline-block;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}



.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
}

.social__item--icon--telegram .socials__link {
  background-image: url(../../img/telegram.png);
}

.social__item--icon--vk .socials__link {
  background-image: url(../../img/vk.png);
}

.social__item--icon--fb .socials__link {
  background-image: url(../../img/f.png);
}

.social__item--icon--insta .socials__link {
  background-image: url(../../img/in.png);
}

.contacts {
  margin-top: 20px;
}


.contacts__call {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
}

