.footer {
  margin-top: auto;
  border-top: 1px solid rgba(255, 255,255, .1);
  position: relative;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0;
}


.socials {
  display: inline-block;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}



.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
}

.social__item--icon--telegram .socials__link {
  background-image: url(../../img/telegram.png);
}

.social__item--icon--vk .socials__link {
  background-image: url(../../img/vk.png);
}

.social__item--icon--fb .socials__link {
  background-image: url(../../img/f.png);
}

.social__item--icon--insta .socials__link {
  background-image: url(../../img/in.png);
}

.social__item--icon--telegram .socials__link:hover {
  background-image: url(../../img/t.png);
}

.social__item--icon--vk .socials__link:hover {
  background-image: url(../../img/vkh.png);
}

.social__item--icon--fb .socials__link:hover {
  background-image: url(../../img/f2.png);
}

.social__item--icon--insta .socials__link:hover {
  background-image: url(../../img/inh.png);
}


.contacts__call {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  position: relative;
  left: 23px;
}

