.hello {
  margin-top: 209px;
}

.hello__container {
  position: relative;
}

.hello__title {
  display: block;
  max-width: 637px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
}

.hello__subtitle {
  display: block;
  margin-top: 21px;
  max-width: 221px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
}

.hello__button {
  display: block;
  margin-top: 76px;
  max-width: 168px;
  /* border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px; */
  /* text-transform: uppercase; */
  background: #8F00FF;
}

.hello__button:hover {
  background: #741BBA;
}
