.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 88px 0;
  margin-top: 90px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 97px;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 46px;
}

.partners__item:nth-child(4n+1) {
  margin-left: 0;
  
}
.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

